@{
    ViewData["Title"] = "Home Page";
}

<head>
    <title>Tabletop RPG Character Tracker</title>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
</head>

<body>
    <ul>
        <li><a href="~/Characters/Index">Characters</a></li>
        <li><a href="~/Weapons/Index">Weapons</a></li>
    </ul>

    <h1 class="display-4">Welcome</h1>
    <h3>
        This web application offers a quick and easy way to keep track of characters and their stats for your preferred tabletop rpg.
    </h3>
</body>